* {
    background-color: #6bd0eeff;
}

h1 {
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  .height{
    color: #ffe3cbff;
    
    
  }

  .power{
    color:#ffe3cbff;
    font-weight: 100;
   
  }
  .quiz {
    color: #f9c1ceff;
    
    
  }
  
  