* {
    background-color: #6bd0eeff;

}

h1 {
    color:#ffe3cbff;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1%;
  
  }

  .height{
    color: #f26f27ff;
    font-family: "Changa One", sans-serif;
    
  }

  .power{
    color: #f26f27ff;
    font-weight: 100;
    font-family: "Changa One", sans-serif;
  }
  .quiz {
    color: #ffe3cbff;
    font-family: "Changa One", sans-serif;
    
  }


  .setup{
    display: flex;
    justify-content: center;
    flex-direction: column;
 
  }
  

button{height:40px;}
  button{width:110px;}
  input{height:60px}
  input{width: 300px;}
  button{font-size: 30px;}
  input{font-size:20px;}
  hr{color:#f26f27ff;}
  button{background-color:#f26f27ff;}